# Data input and Output

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dump.csv')

In [4]:
df

,Unnamed: 0,ageEstimate,companyFollowerCount,companyHasLogo,companyName,companyStaffCount,companyUrl,companyUrn,connectionsCount,country,...,mbrLocationCode,mbrTitle,memberUrn,posLocation,posLocationCode,posTitle,positionId,startDate,avgMemberPosDuration,avgCompanyPosDuration
0,0,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,au,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,NaN,NaN,Portfolio Executive,240345.0,2014-07-01,760.5000,989.9361
1,1,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,au,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,"Sydney, Australia","urn:li:fs_region:(au,4910)",Solution Delivery Executive,240346.0,2013-11-01,760.5000,989.9361
2,2,41.0,10047.0,b1c3fd9a-8f21-48f8-8321-d773b1ff3cb7-2.png,CommSec,619.0,http://www.commsec.com.au,urn:li:company:2851,500.0,au,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,NaN,NaN,Project Manager,240348.0,2008-08-01,760.5000,747.2308
3,3,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,au,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,NaN,NaN,Project Manager,240350.0,2007-02-01,760.5000,989.9361
4,4,30.0,300723.0,0f982557-a907-409e-af20-1feb0e0813cd-2.png,PayPal,22522.0,http://www.paypal.com,urn:li:company:1482,500.0,au,...,"urn:li:fs_region:(au,4910)","Senior Marketing Manager, PayPal",urn:li:member:100186032,NaN,NaN,Senior Marketing Manager,229893.0,2017-01-01,395.2857,683.3496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39532,39532,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,au,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne Business Banking Centre,NaN,Senior Partner,191517.0,2006-08-01,1912.0000,941.0968
39533,39533,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,au,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne Business Banking Centre,NaN,Senior Business Banking Manager / Partner 4,191518.0,2003-08-01,1912.0000,941.0968
39534,39534,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,au,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne & Bourke and Russell St ...,NaN,Business Banking Manager / Partner 3,191519.0,2000-06-01,1912.0000,941.0968
39535,39535,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,au,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,Melbourne Office Business Banking Centre,NaN,Business Banking Officer,191520.0,1995-11-01,1912.0000,941.0968
39536,39536,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,au,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,271 Collins St Melbourne,NaN,Various customer service roles including inter...,191521.0,1989-02-01,1912.0000,941.0968

In [5]:
df.to_csv('output', index=False)

In [6]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [7]:
data

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('sqlite:///:memory:')

In [12]:
df.to_sql('linkedin_data', engine)

In [13]:
sqldf = pd.read_sql('linkedin_data', con=engine)

In [16]:
sqldf

,index,Unnamed: 0,ageEstimate,companyFollowerCount,companyHasLogo,companyName,companyStaffCount,companyUrl,companyUrn,connectionsCount,...,mbrLocationCode,mbrTitle,memberUrn,posLocation,posLocationCode,posTitle,positionId,startDate,avgMemberPosDuration,avgCompanyPosDuration
0,0,0,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,None,None,Portfolio Executive,240345.0,2014-07-01,760.5000,989.9361
1,1,1,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,"Sydney, Australia","urn:li:fs_region:(au,4910)",Solution Delivery Executive,240346.0,2013-11-01,760.5000,989.9361
2,2,2,41.0,10047.0,b1c3fd9a-8f21-48f8-8321-d773b1ff3cb7-2.png,CommSec,619.0,http://www.commsec.com.au,urn:li:company:2851,500.0,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,None,None,Project Manager,240348.0,2008-08-01,760.5000,747.2308
3,3,3,41.0,198859.0,5a92c12e-0a20-482b-95ec-e705a6294730-2.png,Commonwealth Bank,32905.0,http://www.commbank.com.au/,urn:li:company:2848,500.0,...,"urn:li:fs_region:(au,4910)",Portfolio Executive at Commonwealth Bank,urn:li:member:10013136,None,None,Project Manager,240350.0,2007-02-01,760.5000,989.9361
4,4,4,30.0,300723.0,0f982557-a907-409e-af20-1feb0e0813cd-2.png,PayPal,22522.0,http://www.paypal.com,urn:li:company:1482,500.0,...,"urn:li:fs_region:(au,4910)","Senior Marketing Manager, PayPal",urn:li:member:100186032,None,None,Senior Marketing Manager,229893.0,2017-01-01,395.2857,683.3496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39532,39532,39532,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne Business Banking Centre,None,Senior Partner,191517.0,2006-08-01,1912.0000,941.0968
39533,39533,39533,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne Business Banking Centre,None,Senior Business Banking Manager / Partner 4,191518.0,2003-08-01,1912.0000,941.0968
39534,39534,39534,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,St Kilda Rd Melbourne & Bourke and Russell St ...,None,Business Banking Manager / Partner 3,191519.0,2000-06-01,1912.0000,941.0968
39535,39535,39535,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,Melbourne Office Business Banking Centre,None,Business Banking Officer,191520.0,1995-11-01,1912.0000,941.0968
39536,39536,39536,46.0,151686.0,71b7f012-183c-43c8-a9af-b39a1b9a89a0-2.png,National Australia Bank,27944.0,http://www.nab.com.au,urn:li:company:2357,362.0,...,"urn:li:fs_region:(au,4900)","Head Of (Distributed) Credit, Vic/Tas at Natio...",urn:li:member:9985941,271 Collins St Melbourne,None,Various customer service roles including inter...,191521.0,1989-02-01,1912.0000,941.0968

In [4]:
outside = ['g1', 'g1', 'g1', 'g2', 'g2', 'g2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('g1', 1),
            ('g1', 2),
            ('g1', 3),
            ('g2', 1),
            ('g2', 2),
            ('g2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [9]:
df

             A         B
g1 1 -0.363758 -1.557031
   2  0.643625  1.081401
   3 -2.946704  0.739663
g2 1  0.235934 -0.821688
   2 -0.229101  1.226700
   3  0.530658 -2.423796

In [23]:
df.loc['g2']['B'][2]

1.2266995198195123

In [18]:
df.index.names = ['groups', 'numbers']

In [19]:
df

                       A         B
groups numbers
g1     1       -0.363758 -1.557031
       2        0.643625  1.081401
       3       -2.946704  0.739663
g2     1        0.235934 -0.821688
       2       -0.229101  1.226700
       3        0.530658 -2.423796

### cross section

In [27]:
df.xs(1, level='numbers')

               A         B
groups
g1     -0.363758 -1.557031
g2      0.235934 -0.821688